{% extends "admin/base.html.twig" %}

{% block body %}

</br>
</br>
</br>
</br>
</br>

<h2 style= color:white> Statistiques :</h2>


<p style= color:white>Nombre d'Amapiens : {{nb}}</p>

</br>
</br>

<p style= color:white>Nombre de Produits : {{np}}</p>

{% endblock %}
